@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'select2';
@import 'select2-bootstrap3';

#attributes {
  margin-bottom: 40px;

  .list-unstyled {
    margin: 0;
  }
}

#search {
  height: 2.4em;
}

#animals {
  margin-top: 20px;
  padding-left: 2%;
}

@import 'tree';
